<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div ng-if="main.errors.length > 0" class="alert alert-danger alert-dismissible" style="margin-top: 20px;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <div><strong>Error {{main.errors[0].status}}</strong></div>
                <div>When calling {{main.errors[0].config.url}}</div>
            </div>
            <h2>Batch Conversion</h2>
            <p>To convert multiple identifiers, enter them in the box below or upload them as a text file. IDs should be separated by line breaks. Select your source and target types, and click the Convert button. You may select multiple target types.</p>
        </div>

        <div class="col-sm-12">
            <div class="row">
                <form name="batchQueryForm">
                    <fieldset>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <textarea class="form-control"
                                          type="text"
                                          name="query"
                                          id="query"
                                          rows="6"
                                          ng-model="main.batchQuery.string"
                                          ng-model-options="{ updateOn: 'blur' }"
                                          ng-disabled="main.loading"
                                          placeholder="Enter IDs for conversion"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="file" nv-file-select uploader="main.uploader" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="form-control" ng-model="main.batchQuery.from" ng-options="from as from for from in main.fromValues | orderBy"></select>
                            </div>
                            <div class="form-group text-center">
                                <button type="button" class="btn btn-default" ng-click="convertBatch(main.batchQuery)">
                                    Convert
                                    <i ng-hide="main.loading" class="fa fa-arrow-down" aria-hidden="true"></i>
                                    <i ng-show="main.loading" class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
                                    <div ng-show="main.loading">{{main.loadingCounter}} of {{main.loadingTotal}}</div>
                                </button>
                            </div>
                            <div class="form-group">
                                <multiselect ng-model="main.batchQuery.to" options="main.toValues" show-search="true">
                                </multiselect>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div ng-if="main.batchResults" class="col-sm-12" style="overflow: auto;">
                <result-table source-column="main.batchQuery.from" columns="main.batchQuery.to" ordering="main.queryStrings" ng-model="main.batchResults"></result-table>
            </div>

            <div ng-if="main.batchResults" class="col-xs-12">
                <div class="well">
                    <download-results export-style="main.exportStyle" export-type="main.exportType" top-hit="main.topHit" download-fn="batchDownloadService()"></download-results>
                </div>
            </div>
        </div>

        <div class="col-xs-12">Issues? Let us know on <a href="https://bitbucket.org/fiehnlab/ctsproxy/issues?status=new&status=open">BitBucket</a>.</div>
    </div>
</div>