<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div ng-if="main.errors.length > 0" class="alert alert-danger alert-dismissible" style="margin-top: 20px;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <div><strong>Error {{main.errors[0].status}}</strong></div>
                <div>When calling {{main.errors[0].config.url}}</div>
            </div>
            <h2>Simple Conversion</h2>
            <p>To convert a single identifier, enter it in the box below, select source and target types, and hit the Convert button.</p>
        </div>

        <div class="col-sm-12">
            <div class="row">
                <form name="queryForm">
                    <fieldset>
                        <div class="col-xs-12 col-sm-5">
                            <div class="form-group">
                                <select class="form-control" ng-model="main.query.from" ng-options="from as from for from in main.fromValues | orderBy"></select>
                            </div>
                            <div class="form-group">
                                <input class="form-control"
                                       type="text"
                                       name="query"
                                       id="query"
                                       ng-model="main.query.string"
                                       ng-model-options="{ updateOn: 'blur' }"
                                       ng-disabled="main.loading"
                                       placeholder="Enter ID for conversion">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2 text-center arrow-box">
                            <button type="button" class="btn btn-default" ng-click="convertSingle(main.query)">
                                Convert
                                <i ng-hide="main.loading" ng-class="{ 'fa fa-arrow-down': breakpoint.sm||breakpoint.xs, 'fa fa-arrow-right': breakpoint.md||breakpoint.lg }" aria-hidden="true"></i>
                                <i ng-show="main.loading" class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-xs-12 col-sm-5 target-box">
                            <div class="form-group">
                                <select class="form-control" ng-model="main.query.to" ng-options="to as to for to in main.toValues | orderBy"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div ng-if="main.results" class="col-xs-12">
            <result-table source-column="main.query.from" columns="[main.query.to]" ordering="[main.query.string]" ng-model="main.results"></result-table>
        </div>

        <div ng-if="main.results" class="col-xs-12">
            <div class="well">
                <download-results export-style="main.exportStyle" export-type="main.exportType" top-hit="main.topHit" download-fn="singleDownloadService()"></download-results>
            </div>
        </div>

        <div class="col-xs-12">Issues? Let us know on <a href="https://bitbucket.org/fiehnlab/ctsproxy/issues?status=new&status=open">BitBucket</a>.</div>
    </div>
</div>