.page-wrapper {
  padding-top: 0;
}
.content-panel {
  background: #fff;
  margin: 24px auto;
  padding: 24px;
  width: 90%;
}
@media (min-width: 768px) {
  .content-panel { width: 80%; }
}
@media (min-width: 1024px) {
  .content-panel { width: 60%; }
}
@media (min-width: 1400px) {
  .content-panel { width: 50%; }
}
