<div class="row">
    <div class="col-sm-12">
        <h3>Batch Conversion</h3>
        <p>Convert a bunch of stuff</p>
        <form name="batchQueryForm">
            <fieldset>
                <div class="col-sm-6">
                    <div class="form-group">
                        <textarea class="form-control"
                                  type="text"
                                  name="query"
                                  id="query"
                                  rows="6"
                                  ng-model="main.batchQuery.string"
                                  ng-model-options="{ updateOn: 'blur' }"
                                  ng-disabled="main.loading"
                                  placeholder="Enter IDs for conversion"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="file" nv-file-select uploader="main.uploader" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <select class="form-control" ng-model="main.batchQuery.from" ng-options="from as from for from in main.fromValues | orderBy"></select>
                    </div>
                    <div class="form-group text-center">
                        <i ng-hide="main.loading" class="fa fa-arrow-down fa-2x" aria-hidden="true"></i>
                        <i ng-show="main.loading" class="fa fa-spinner fa-pulse fa-2x" aria-hidden="true"></i>
                        <div ng-show="main.loading">{{main.loadingCounter}} of {{main.loadingTotal}}</div>
                    </div>
                    <multiselect ng-model="main.batchQuery.to" options="main.toValues" show-search="true">
                    </multiselect>
                </div>
            </fieldset>
        </form>

        <div ng-if="main.batchResults" class="col-sm-12" style="overflow: auto;">
            <table class="table">
                <tr>
                    <th>{{main.batchQuery.from}}</th>
                    <th ng-repeat-start="to in main.batchQuery.to">{{to}}</th>
                    <th ng-repeat-end ng-if="to === 'InChIKey'">Score</th>
                </tr>
                <tr ng-repeat="(term, results) in main.batchResults | limitBatchResults: 10: (main.resultPage - 1) * 10">
                    <td>{{term}}</td>
                    <td ng-repeat-start="to in main.batchQuery.to">
                        <div ng-hide="expandResults">
                            <span ng-if="results[to].length === 0">No results</span>
                            <i ng-show="results[to].length > 1" ng-click="expandResults = !expandResults" class="pull-right fa fa-angle-right" style="cursor: pointer;" aria-hidden="true"></i>
                            <a ng-if="results[to] && !results[to][0].InChIKey" href="https://pubchem.ncbi.nlm.nih.gov/compound/{{results[to][0]}}" target="_blank">{{results[to][0]}}</a>
                            <a ng-if="results[to][0].InChIKey" href="https://pubchem.ncbi.nlm.nih.gov/compound/{{results[to][0].InChIKey}}" target="_blank">{{results[to][0].InChIKey}}</a>
                        </div>
                        <div ng-show="expandResults">
                            <i ng-click="expandResults = !expandResults" class="pull-right fa fa-angle-down" style="cursor: pointer;" aria-hidden="true"></i>
                            <div ng-repeat="result in results[to] track by $index">
                                <a ng-if="result && !result.InChIKey" href="https://pubchem.ncbi.nlm.nih.gov/compound/{{result}}" target="_blank">{{result}}</a>
                                <a ng-if="result.InChIKey" href="https://pubchem.ncbi.nlm.nih.gov/compound/{{result.InChIKey}}" target="_blank">{{result.InChIKey}}</a>
                            </div>
                        </div>
                    </td>
                    <td ng-repeat-end ng-if="to === 'InChIKey'">
                        <div ng-hide="expandResults">
                            <span ng-if="results[to].length === 0">No results</span>
                            {{results[to][0].score}}
                        </div>
                        <div ng-show="expandResults">
                            <div ng-repeat="result in results[to]">
                                {{result.score}}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <ul uib-pagination total-items="main.resultCount" ng-model="main.resultPage" max-size="5" class="pagination-sm" boundary-links="true" force-ellipses="true" num-page="main.pageCount"></ul>
        </div>

        <form ng-if="main.batchResults" class="form-inline">
            <button class="btn btn-primary btn-download" ng-click="batchDownloadService()"><i class="fa fa-download" aria-hidden="true"></i> Download</button>
            <div class="form-group">
                <select class="form-control" ng-model="main.exportStyle">
                    <option value="simplified">Style 1 (From | To | Term | Result | Score)</option>
                    <option value="standard">Style 2 ({{main.batchQuery.from}} | [Target 1] | ... | [Target n] | Score)</option>
                </select>
            </div>
            as
            <div class="form-group">
                <select class="form-control" ng-model="main.exportType">
                    <option value="csv">CSV</option>
                    <option value="txt">TXT</option>
                </select>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="main.topHit"> Top Hit Only
                </label>
            </div>
        </form>
    </div>
</div>