<div class="row">
    <div class="col-sm-12">
        <h3>Batch Conversion</h3>
        <p>Enter your query below. Separate entries with line breaks. Select your source and target formats. Default is Chemical Name to InChIKey.</p>
        <form>
            <fieldset>
                <div class="form-group">
                    <label for="query">Query</label>
                    <textarea class="form-control" type="text" name="query" id="query" ng-model="query"></textarea>
                </div>
                <div class="form-group">
                    <label>From <select class="setting-selection" ng-model="from" ng-options="o as o for o in fromOptions"></select></label>
                    <label>to <select class="setting-selection" ng-model="to" ng-options="o as o for o in toOptions"></select></label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-primary" ng-click="simpleConversion(query,from,to)">Submit</button>
                </div>
            </fieldset>
        </form>
        <div ng-show="response.data.length > 0">
            <h3>Conversion Results</h3>
            <table class="table table-hover">
                <tr ng-repeat="result in response.data">
                    <td>{{result.searchTerm}}</td><td><div ng-repeat="entry in result.result">{{entry}}</div></td>
                </tr>
            </table>
        </div>
    </div>
</div>