<div class="row">
    <div class="col-sm-12">
        <h3>Simple Conversion</h3>
        <p>Enter your query string and select your source and target types. Enter to submit.</p>
        <form name="queryForm">
            <fieldset>
                <div class="col-xs-12 col-sm-5">
                    <div class="form-group">
                        <select class="form-control" ng-model="main.query.from" ng-options="from as from for from in main.fromValues | orderBy"></select>
                    </div>
                    <div class="form-group">
                        <input class="form-control"
                               type="text"
                               name="query"
                               id="query"
                               ng-model="main.query.string"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-disabled="main.loading"
                               placeholder="Enter ID for conversion">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 text-center arrow-box">
                    <i ng-hide="main.loading" ng-class="{ 'fa fa-arrow-down fa-2x': breakpoint.sm||breakpoint.xs, 'fa fa-arrow-right fa-2x': breakpoint.md||breakpoint.lg }" aria-hidden="true"></i>
                    <i ng-show="main.loading" class="fa fa-spinner fa-pulse fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-xs-12 col-sm-5 target-box">
                    <div class="form-group">
                        <select class="form-control" ng-model="main.query.to" ng-options="to as to for to in main.toValues | orderBy"></select>
                    </div>
                </div>
                <div ng-if="main.results" class="col-xs-12 col-sm-12">
                    <table class="table">
                        <tr>
                            <th>{{main.query.from}}</th>
                            <th>{{main.query.to}}</th>
                        </tr>
                        <tr>
                            <td>{{main.query.string}}</td>
                            <td>
                                <div ng-hide="expandResults">
                                    <span ng-if="main.results.length === 0">No results</span>
                                    <i ng-show="main.results.length > 1" ng-click="expandResults = !expandResults" class="pull-right fa fa-angle-right" style="cursor: pointer;" aria-hidden="true"></i>
                                    <a ng-if="main.results && !main.results[0].score" href="https://pubchem.ncbi.nlm.nih.gov/compound/{{main.results[0]}}" target="_blank">{{main.results[0]}}</a>
                                    <a ng-if="main.results[0].score" href="https://pubchem.ncbi.nlm.nih.gov/compound/{{main.results[0].InChIKey}}" target="_blank">{{main.results[0].InChIKey}}, Score: {{main.results[0].score}}</a>
                                </div>
                                <div ng-show="expandResults">
                                    <i ng-click="expandResults = !expandResults" class="pull-right fa fa-angle-down" style="cursor: pointer;" aria-hidden="true"></i>
                                    <div ng-repeat="result in main.results">
                                        <a ng-if="result && !result.score" href="https://pubchem.ncbi.nlm.nih.gov/compound/{{result}}" target="_blank">{{result}}</a>
                                        <a ng-if="result.score" href="https://pubchem.ncbi.nlm.nih.gov/compound/{{result.InChIKey}}" target="_blank">{{result.InChIKey}}, Score: {{result.score}}</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </form>

        <form ng-if="main.results" class="form-inline">
            <button class="btn btn-primary btn-download" ng-click="exportSimplified(main.exportType)"><i class="fa fa-download" aria-hidden="true"></i> Download Style 1</button>
            <button class="btn btn-primary btn-download" ng-click="export(main.exportType)"><i class="fa fa-download" aria-hidden="true"></i> Download Style 2</button>
            as
            <div class="form-group">
                <select class="form-control" ng-model="main.exportType">
                    <option value="csv">CSV</option>
                    <option value="txt">TXT</option>
                </select>
            </div>
        </form>
    </div>
</div>