@media (max-width: 768px) {
    #header h1 {
        font-size: 24px;
    }

    #header ul.menu {
        padding: 6px 16px 0;
    }

    #wrapper {
        height: 100%;
    }

    #page-wrapper {
        height: 100%;
        padding: 110px 10px 15px;
    }

    .ucd-logo {
        margin: 5px;
    }

    .arrow-box {
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .arrow-box {
        margin-top: 28px;
    }

    .target-box {
        margin-top: 25px;
    }
}

@media (max-width: 1535px) and (min-width: 768px) {
    #page-wrapper {
        padding: 105px 10px 15px;
        width: 80%;
        border-left: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        margin: 0 auto;
    }

    .ucd-logo{
        margin: 14px;
    }
}

@media (max-width: 2047px) and (min-width: 1536px) {
    #page-wrapper {
        padding: 105px 10px 15px;
        width: 60%;
        border-left: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        margin: 0 auto;
    }

    .ucd-logo{
        margin: 14px;
    }
}

@media (min-width: 2048px) {
    #page-wrapper {
        padding: 105px 10px 15px;
        position: inherit;
        margin: 0 auto;
        border-left: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        width: 50%;
        height: 100%;
    }

    .ucd-logo{
        margin: 14px;
    }
}

html, body {
    min-height: 100%;
    height: 100%;
}

body#ctsProxy {
    background-color: #F9F4E5;
}

#page-wrapper {
    background-color: #fff;
    border-radius: 5px;
}

#page-wrapper .row {
    margin: auto;
}

#page-wrapper .btn-sm {
    width: 65px;
}

#header {
    background-color: #1A3E68;
    border-bottom: 5px solid #DFC166;
    color: #f8f8f8;
    padding: 10px 0px 10px 30px;
    min-height: 50px;
}

#header h1 {
    color: #FFCD00;
    float: left;
    margin: 0;
}

#header li {
    list-style: none;
    float: left;
}

#header ul {
    float: left;
    padding: 14px 16px 0;
}

#header ul a {
    color: white;
    padding: 15px;
    text-decoration: none;
    transition: color 0.25s ease-in;
}

#header ul a:hover {
    color: #DFC166;
}

#header .site-description {
    padding-top: 5px;
    clear: both;
}

.table-container {
    padding: 15px;
}

.panel {
    margin-top: 10px;
}

.panel ul {
    list-style: none;
}

.red {
    color: red;
}

.clickable {
    cursor: pointer;
}

.mass-spec-container {
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
}

.bor-bot {
    margin: 15px;
    position: relative;
    height: 5px;
    background: linear-gradient(to right,#f7cc4a 0,rgba(247,204,74,.1) 55%,rgba(247,204,74,.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7cc4a', endColorstr='#1af7cc4a', GradientType=1 );
}

hr.horizontal-separator {
    border-top: 1px solid #DFC166;
    margin: 40px 15px 20px;
}

.nav-box {
    border: 1px solid #ddd;
    border-top-color: transparent;
    padding: 15px;
}

.bor-box {
    padding: 15px;
}

.bor-bot {
    margin: 10px 0;
    position: relative;
    /* display: table; */
    width: 100%;
    height: 5px;
    background: linear-gradient(to right,#f7cc4a 0,rgba(247,204,74,.1) 55%,rgba(247,204,74,.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7cc4a', endColorstr='#1af7cc4a', GradientType=1 );
}

.peak-table {
    max-height: 760px;
    overflow-y: scroll;
}

.table-major-row {
    background-color: whitesmoke;
}

.download-button {
    float: right;
    margin-top: 20px;
}

.bin-name {
    float: left;
}

#loading-bar-container {
    clear: both;
}

.download-button .dropdown-menu {
    right: 0;
    left: auto;
}

.setting-selection {
    width: 150px;
}

.form-group {
    clear: both;
}

.header-bar {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.form-group label {
    display: inline;
}

.ucd-logo {
    color: #DFC166;
    float: right;
}

.btn-download {
    margin: 0 2px;
}